# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Virtual environments
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model / data files
*.pkl
*.joblib
*.h5

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
